* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home {
    margin-top: 50px;
}

.home a {
    font-size: 1.4rem;
    margin: 0 8px 15px 8px;
}

.main-container {
    flex: 1;
}

/*------------- List -------------------*/
.list {
    margin: 0 auto;
    max-width: 1000px;
}

.list .btn-success {
    width: 100px;
}
.table th {
    
}

.table td a {
    margin: 0 8px;
}


/*------------- create -------------------*/
.forms .col {
    border: 0px solid black;
    box-shadow: 0px 8px 25px #c9c9c9;
    margin: 30px 0 15px 0;
    padding: 25px 20px;
    border-radius: 10px;
}

.forms .form-floating {
    margin: 15px 0;
}

.forms button[type="submit"] {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 0;
    width: 100%;
}

.back-list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
}

.back-list svg {
    margin-right: 8px;
}