@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <canvas id="myChart" ></canvas>
    @*@foreach (var item in ViewData["result"]){
        @item.Quantidade;

    }*@
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>*@

    <script>
        let data = {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: []
        }

        for (let i = 0; i < @ViewBag.qntMercadoria; i++) {
            data.datasets.push({ data: [1, 2, 3], label: "teste", borderColor: "red", fill: false })
        }


        $(document).ready(function () {
            const ctx = document.getElementById('myChart');

            new Chart("myChart", {
                type: "line",

                data,
                //data: {
                //    labels: xValues,
                //    datasets: [{
                //        data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 8830],
                //        label: "@ViewBag.title",
                //        borderColor: "red",
                //        fill: false
                //    }, {
                //        data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000],
                //        borderColor: "green",
                //        fill: false
                //    }, {
                //        data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200],
                //        borderColor: "blue",
                //        fill: false
                //    }
                //    ]
                //},
                options: {
                    interaction: {
                        intersect: false,
                        mode: 'index'
                    },
                    Plugin: {
                        title: {
                            test: (ctx) => {
                                const { axis = 'xy', intersect, mode } = ctx.chart.options.interaction;
                                return 'Mode: ' + mode + ', axis: ' + axis + ', intersect: ' + intersect;
                            }
                        }
                    }
                }
            });
        })
    </script>
}
