@{
    ViewData["Title"] = "Home";
}

<div class="home text-center">

    <div class="buttons">
        <h1 class="title">MStarSupply</h1>
        <a asp-controller="Home" asp-action="Graphic" class="btn btn-success">Gráfico</a>

        <a asp-controller="Mercadoria" asp-action="Index" class="btn btn-secondary">Mercadorias</a>

        <a asp-controller="EntradaMercadoria" asp-action="Index" class="btn btn-primary">Entrada de Mercadoria</a>
        <a asp-controller="SaidaMercadoria" asp-action="Index" class="btn btn-primary">Saída de Mercadoria</a>

    </div>
    <div class="img">
        <img src="../images/background.png"/>
    </div>
</div>
