@model GerenciamentoMercadoria.Models.Mercadoria

@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-create row">

    <div class="col">
        <h3 class="title text-center">Mercadoria</h3>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Nome" class="form-control" id="floatingInput" placeholder="Nome"/>
                <label asp-for="Nome" for="floatingInput" class="control-label"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="NumRegistro" class="form-control" id="floatingInput" placeholder="NumRegistro" />
                <label asp-for="NumRegistro" for="floatingInput" class="control-label"></label>
                <span asp-validation-for="NumRegistro" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Fabricante" class="form-control" id="floatingInput" placeholder="Fabricante" />
                <label asp-for="Fabricante" for="floatingInput" class="control-label"></label>
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Tipo" class="form-control" id="floatingInput" placeholder="Tipo" />
                <label asp-for="Tipo" for="floatingInput" class="control-label"></label>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Descricao" class="form-control" id="floatingInput" placeholder="Descricao" />
                <label asp-for="Descricao" for="floatingInput" class="control-label"></label>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Cadastrar" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                    </svg> Criar
                </button>
            </div>
        </form>
    </div>

    <div class="back-list">
        <a asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
            </svg>Voltar
        </a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
